.cases-div {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.siteInfo {
  display: flex;
  flex-direction: column;
  font-family: TypeMachine;
  margin: 20px;
}

.screenshot {
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  width: 600px;
}

.siteInfo a {
  color: #6D2C2C;
  font-size: 30px;
  text-align: left;
  text-decoration: none;
  margin-top: 15px;
}

.siteInfo a:hover {
    color: #F04702;
}

.click {
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

#projects {
  margin-top: 100px;
}

@media screen and (max-width: 800px) {
  .siteInfo {
    margin: 10px;
  }

  .siteInfo a {
    font-size: 25px;
  }
  .screenshot {
    width: 95%;
  }

  #projects {
    margin-top: 80px;
  }
}
