.contato {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}

#emailBtn {
  border: none;
  background: none;
}

.contato #emailBtn, .contato a {
  text-decoration: none;
  font-size: 22px;
}

/* @media screen and (max-width: 800px) {
  
} */
