.contato {
  background-color: rgb(251, 238, 214, 0.9);
  box-shadow: 10px 8px 0px rgb(109, 44, 44, 0.8);
  border-radius: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min(25rem, 80%);
  padding: 0 30px;
  height: 16rem;
  margin-bottom: 10px;
}

#emailBtn {
  border: none;
  background: none;
}

.c-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: larger;
  font-family: Recoleta;
  margin-top: 10px;
}

.c-logos:hover {
  cursor: pointer;
}

.c-logos {
  height: 45px;
  width: 45px;
  margin: 20px;
}

.linked {
  padding-bottom: 8px;
}
