.contato {
    background-color: rgb(251, 238, 214, 0.95);
    box-shadow: 10px 8px 0px #6d2c2c;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    margin: 0 20px 90px;
    height: 46%;
    width: 24em;
}

#emailBtn {
    border: none;
    background: none;
}

.c-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-family: Recoleta;
    margin-top: 10px;
}

.c-logos:hover {
    cursor: pointer;
}

.c-logos {
    height: 45px;
    width: 45px;
    margin: 20px;
}

.linked {
    padding-bottom: 8px;
}