.contato {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#emailBtn {
  border: none;
  background: none;
}

.c-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.c-logos {
  height: 45px;
  margin: 20px 15px;
  cursor: pointer;
}

.linked {
  height: 48px;
}

.githubC {
  margin-top: 25px;
}

@media screen and (max-width: 800px) {
  .c-logos {
    height: 30px;
    margin: 10px;
  }

  .githubC {
  margin-top: 18px;
}

  .linked {
    height: 33px;
  }
}
