@font-face {
    font-family: Recoleta;
    src: url(../extra/NostalgicWhispers-Regular.ttf);
}

.fullpage {
    background-image: url('../extra/test3.jpg');
    background-size: cover;
    background-position: 20%;
    background-attachment: fixed;
    filter: grayscale(40%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 240vh;
}

.top {
    /* backdrop-filter: blur(1.5px); */
    background-color: rgb(0, 24, 54, 0.95);
    box-shadow: 10px 8px 0px #fbeed6;
    border-radius: 15px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    margin-top: 55px;
    padding: 0 30px;
    min-width: 48%;
    max-width: 75%;
}

#star {
    height: 100px;
    margin-left: -40px;
}

.title {
    border-radius: 15px;
    color: #964242;
}

.title h1 {
    color: #fbeed6;
    font-size: 340%;
    letter-spacing: 4px;
    text-shadow: 3px 3px #6a5722;
    margin-bottom: -20px;
}

.title h3 {
    color: #fbeed6;
    font-size: 112%;
    letter-spacing: 2px;
    text-shadow: 2px 2px #5c4a1a;
}

.mainpage {
    /* background-color: #fbeed6; */
    display: flex;
    flex-flow: row wrap;
    /* align-items: center; */
    justify-content: center;
    justify-self: center;
    margin-top: 45px;
    max-width: 95%;
}

.mainpage h2 {
    margin-top: 40px;
}

.btn-case {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 50px;
}

.left-btn {
    margin-bottom: 25px;
}

.btn {
    /* border-radius: 10px; */
    background-color: rgb(0, 24, 54, 0.97);
    box-shadow: 7px 5px 0px #fbeed6;
    text-shadow: 2px 2px rgba(255, 252, 247, 0.2);
    border-radius: 10px;
    color: #fbeed6;
    letter-spacing: 4px;
    font-size: 22px;
    font-weight: 600;
    padding: 8px 20px;
    height: 70px;
    width: 20rem;
}

.btn:hover {
    font-size: 24px;
    letter-spacing: 7px;
}

h2 {
    font-size: 180%;
    margin-bottom: 10px;
}

h2 {
    text-shadow: 2px 2px rgb(161, 149, 128, 0.4);
}

.contato {
    background-color: rgb(251, 238, 214, 0.97);
    box-shadow: 10px 8px 0px #001836;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px 90px;
    height: 47%;
    width: 24em;
}

.c-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-family: Recoleta;
}

.c-logos {
    height: 45px;
    width: 45px;
    margin: 25px;
}

#email {
    background-color: #001836;
    color: #fbeed6;
    border-radius: 10px;
    font-family: Recolata;
    font-size: 22px;
    padding: 5px 12px;
    margin-top: 8px;
}

.habil {
    /* background-image: url(../extra/paper3.avif); */
    background-color: rgb(251, 238, 214, 0.97);
    box-shadow: 10px 8px 0px #001836;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 0;
    overflow-y: scroll;
    margin: 0 20px 30px;
    height: 30rem;
    max-width: 30rem;
}

.habil-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin-left: -20px;
    /* height: 100%; */
}

.habil-list li {
    display: flex;
    flex-direction: column;
    margin: 8px 7px;
}

.redux {
    height: 90px;
    filter: grayscale(100%) contrast(230%);
}

.logos {
    padding: 5px;
    height: 6rem;
    width: 6rem;
}

.tooltip {
    color: #001836;
    border-radius: 5px;
    /* color: #fbeed6; */
    font-family: Recoleta;
    font-weight: 600;
    padding: 5px;
}