@font-face {
    font-family: TitleFont;
    src: url(../extra/Oceanside\ Typewriter.ttf);
}

.fullpage {
    background-image: url('../extra/halycon\ sunset.jpeg');
    background-size: contain;
    background-position: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.mainpage {
    /* background-color: #fbeed6; */
    background-image: url(../extra/paper3.avif);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: center;
    min-width: 53%;
}

.title {
    color: #964242;
    margin-bottom: 25px;
}

.title h1 {
    color: #68b2c1;
    font-size: 350%;
    /* font-family: TitleFont; */
    font-weight: 500;
    letter-spacing: -2px;
    text-shadow: 3px 3px #964242;
    margin-bottom: -13px;
}

.title h3 {
    font-size: 115%;
    text-shadow: 2px 2px rgb(126, 172, 181, 0.4);
}

.btn-case {
    color: #964242;
    display: flex;
    flex-wrap: wrap;
    font-size: larger;
    font-weight: 600;
    margin: 15px 0;
}

.left-btn {
    margin-right: 4px;
}

button {
    /* border-radius: 10px; */
    background: none;
    border: none;
    color: #964242;
    font-size: 23px;
    font-weight: 600;
    padding: 5px;
    text-shadow: 2px 2px rgb(126, 172, 181, 0.3);
}

button:hover {
    font-size: 25px;
    text-shadow: 3px 3px rgb(126, 172, 181, 0.4);
}

#stamp {
    height: 10%;
}

.content1 {
    /* background-color: #fff5e2; */
    background-size: cover;
    border-radius: 10px 10px 60px 10px;
    min-height: 70%;
}

.habil {
    /* backdrop-filter: blur(1.5px); */
    /* color: #fff5e2; */
    height: 100%;
}

.habil-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    list-style-type: none;
    /* width: 100%; */
    /* height: 100%; */
}

/* .logos {
    height: 8rem;
} */