/* @font-face {
    font-family: Garet;
    src: url(../extra/Garet-Book.ttf);
} */

/* colors: 
#fbeed6
#6d2c2c
*/

.fullpage {
  backdrop-filter: blur(5px);
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin-top: 0;
}

.mainpage-left {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  /* margin: 0 10px 0; */
  width: min(30rem, 85%);
}

.mainpage-right {
  display: flex;
  flex-flow: column wrap;
  justify-content: baseline;
  align-items: center;
  width: min(30rem, 86%);
}

.top {
  background-image: url('../extra/orbit.png');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 450px;
  border-radius: 10px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  /* margin: 0 0 10px; */
  padding: 0 30px;
  height: 22rem;
  width: min(25rem, 80%);
}

.title {
  margin: -10px 0 10px;
}

#star {
  background-color: rgb(109, 44, 44, 0.75);
  border-radius: 100px;
  padding: 5px;
  height: 110px;
  margin-bottom: -35px;
}

.title h1 {
  color: rgb(251, 238, 214, 0.85); 
  text-shadow: 3px 3px rgb(109, 44, 44, 0.7);
  font-size: 52px;
  letter-spacing: 4px;
  margin-bottom: 30px;
}

.title h3 {
  color: rgb(251, 238, 214, 0.85); 
  text-shadow: 2px 2px rgb(109, 44, 44, 0.7);
  font-size: 20px;
  letter-spacing: 2px;
  margin-top: -20px;
}

.btn-case {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  font-weight: 600;
  margin-top: 20px;
  width: 95%;
}

.btn {
  background-color: rgba(194, 212, 223, 0.85);
  box-shadow: 7px 5px 0px #6d2c2c;
  border-radius: 50px;
  border: none;
  color: #6d2c2c;
  cursor: pointer;
  letter-spacing: 4px;
  font-size: 24px;
  font-weight: 600;
  padding: 8px 10px;
  height: 70px;
  width: 42%;
}

.btn:hover {
  letter-spacing: 6px;
  background-color: rgba(194, 212, 223, 0.95);
}

h2 {
  color: #6d2c2c;
  text-shadow:1px 1px rgba(124, 145, 158, 0.4);
  font-size: 35px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

@media screen and (max-width: 960px) {
  .fullpage {
    height: 100%;
  }
}
