.fullpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.mainpage-top {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.divider {
  background-repeat: repeat-x;
  background-image: url("../extra/dashes.png");
  width: 1150px;
  height: 85px;
}

.title {
  border-top: 6px double #fbf4e1;
  border-bottom: 6px double #fbf4e1;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  width: 90%;
}

.title h1 {
  color: #a38d38;
  text-shadow: 4px 3px 0 #391c18;
  font-size: 90px;
  font-family: TitleFont;
  letter-spacing: 6px;
  text-align: left;
  margin: 50px 30px 40px;
  margin-left: -10px;
  width: 55%;
}

#job {
  color: #9c3f0c;
  text-align: right;
  font-size: 30px;
  font-family: SubFont;
  text-shadow: 1px 1px 1px rgba(128, 128, 128, 0.54);
  width: 20%;
}

.aster {
  font-family: TitleFont;
  color: #391c18;
  margin: 0;
}

body h1:after {
  position: absolute;
  content: "";
  top: 20px;
  left: 0;
  right: 0;
  z-index: -1;
  height: 200vh;
  width: 90vw;
  margin: 0;
}

.btn-div {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 35px 0 50px;
  width: 65%;
}

.btn-div a {
  color: #7f948f;
  font-size: 28px;
  text-decoration: none;
  margin: 10px 20px;
  padding: 10px 25px;
}

.btn-div a:hover {
  color: #9c3f0c;
  text-decoration: overline;
}

.mainpage-bottom {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.subtitle {
  color: #9c3f0c;
  text-shadow: 1px 1px 1px #8bbbb0;
  font-size: 32px;
  letter-spacing: 3px;
  text-align: left;
  margin-left: 20px;
}

footer {
  height: 5%;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 35%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  30% {
    border-color: orange;
  }
}

@keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@media screen and (max-width: 1279px) {
  #descricao {
    font-size: 25px;
    white-space: wrap;
    border: none;
    animation: none;
    margin-top: 10px;
  }
}

@media screen and (max-width: 800px) {
  .fullpage {
    height: 100%;
  }

  #descricao {
    font-size: 15px;
    white-space: wrap;
    border: none;
    animation: none;
    margin-top: 20px;
  }

  .title h1 {
    font-size: 50px;
  }

  .btn-div {
    margin: 0 0 20px 10px;
  }

  .btn-div a {
    margin: 10px 5px;
  }

  .marker {
    width: 90%;
  }

  .subtitle {
    font-size: 25px;
    margin: 50px 0 20px;
    padding: 10px 30px;
  }

  .btn-div a {
    font-size: 20px;
  }
}
