.habil {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}

.mouseOver {
  margin-top: -5px;
  font-weight: 600;
  color: #f04702;
}

.habil-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  align-items: flex-start;
  list-style-type: none;
  width: 65%;
}

.habil-list li {
  display: flex;
  flex-direction: column;
  margin: 10px 8px;
}

.logos {
  padding: 5px;
  height: 4.6rem;
}

@media screen and (max-width: 800px) {
  .logos {
    height: 4rem;
    padding: 1px;
  }

  .habil-list {
    padding-left: 0;
    width: 95%;
  }
}
