.habil {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 0;
  margin: 20px 15px;
}

.skills-title {
  color: #F04702;
}

.mouseOver {
  margin-top: -5px;
  font-weight: 600;
  color: #F04702;
}

.habil-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  width: 80%;
}

.habil-list li {
  display: flex;
  flex-direction: column;
  margin: 8px;
}

.redux {
  height: 90px;
}

.logos {
  padding: 8px 5px;
  height: 6rem;
}

@media screen and (max-width: 800px) {
  .logos {
    height: 5rem;
  }

  .habil-list {
    width: 90%;
  }
}