.habil {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 50px 20px;
  width: 70%;
}

.mouseOver {
  margin-top: -5px;
  font-weight: 600;
}

.habil-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  list-style-type: none;
  margin-left: -40px;
}

.habil-list li {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.logos {
  padding: 5px;
  height: 5.5rem;
}

@media screen and (max-width: 800px) {
  .logos {
    height: 4rem;
    padding: 1px;
  }

  .habil-list {
    padding-left: 0;
    width: 95%;
  }
}
