@font-face {
  font-family: MainFont;
  src: url(./extra/Aesthetic-Regular.otf);
}

body {
  background-color: #d4c9ef;
  display: flex;
  justify-content: center;
  font-family: MainFont;
  text-align: center;
  overflow-x: hidden;
  margin-top: 15px;
}

/* button {
  font-family: MainFont;
} */
