@font-face {
  font-family: MainFont;
  src: url(./extra/Aesthetic-Regular.otf);
}

body {
  background-color: #E6E8FF;
  color: rgb(38, 32, 32);
  display: flex;
  justify-content: center;
  font-family: MainFont;
  overflow-x: hidden;
  text-align: center;
  margin: 0;
}

/* button {
  font-family: MainFont;
} */
