@font-face {
  font-family: MainFont;
  src: url(./extra/Glastone-Regular.otf);
}

html {
  scrollbar-width: none;
}

body {
  background-image: url("./extra/halycon\ sunset.jpeg");
  background-size: contain;
  background-position: 50%;
  background-attachment: fixed;
  color: rgb(38, 32, 32);
  display: flex;
  justify-content: center;
  font-family: MainFont;
  overflow-x: hidden;
  text-align: center;
  margin-top: -20px;
}

button {
  font-family: MainFont;
}
